<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    /* color: #333; */
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #00366b;
    color: rgb(228, 245, 255);
    font-weight: 600;
  }

  .toolbar img {
    margin-top: 20;
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 8px;
  }

  .toolbar #youtube-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover,
  .toolbar #youtube-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 60px auto 22px;
    padding: 0 10px;
    /* max-width: 960px; */
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: #888;
  }

  .card-container {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #c3f4ff86;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 32px;
    width: 200px;
    color: #000;
    font-weight: bold;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    align-items: center;
    line-height: 20px;
  }

  footer a {
    align-items: center;
    color:#c2ffff;
    font-weight: bold;
    text-shadow: 1px 1px 1px #24292e;
    
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }

  /*---------- МОИ ВВЕДЕНИЯ ----------*/


  .right_container{
    position:relative;
    margin-top: 50%;
    padding: 50px;
    /* margin-right: 10px; */
  }
  .left_container{
    position: relative;
    margin-top: 0%;
    margin-left: 10px;
    width: max-content;
    height: max-content;
  }

  .global_grid{
    display: grid;
    grid-template-columns: 2fr 1fr; /* Равное распределение места между блоками */
    grid-gap: 10px; /* Расстояние между блоками */

  }


::-webkit-scrollbar {
    width: 0;
}

  /* Style for the container */
  .weatherList {
      max-width: 1520px;
      box-shadow: #29c1f8 0 0 10px 0;
      background-color:#83ffff76;
      backdrop-filter: blur(10px);     
      color: rgb(255, 255, 255);
      display: grid;
      grid-template-columns: repeat(13, 1fr);
      grid-gap: 10px; /* Расстояние между блоками */
      padding: 5px;
  }

  .weatherList ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;

}
  /* Style for each data section */
  .weatherList > div {
      margin-bottom: 20px;
  }

  /* Style for headings */
  .weatherList h3 {
      font-size: 1.2em;
      margin-bottom: 5px;
  }

  /* Style for list items */
  .weatherList li {
      margin-bottom: 5px;
      list-style-type: none;
  }


  .dailyWeather{
    background-color: #00aeff54;
    backdrop-filter: blur(7px);
    width: max-content;
    padding: 5px;
    box-shadow: #1976d2 0 0 10px 0;
  }

  .currentWeather{
    background-color: #00aeff54;
    backdrop-filter: blur(5px);
    width: 320px;
    padding: 10px;
    box-shadow: #1976d2 0 0 10px 0;
  }
  /* ------------------------------- */

  /* Responsive Styles */
  @media screen and (max-width: 767px) {
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }








  .Dobro{
    font-size: large;
    position:relative;
  }
  .subTitle{

    font-size: small;
    color: #d7d7d7;
    position: relative;
  }
  .inputCity{
    margin-right: 3%;
    display: flex;
  }
  .inputCity p{
    padding-right: 10px;
  }
  .inputCity input{
    height: inherit;
  }

  .dailySubTitle{
    text-align: center; 
    color: #70d2ff; 
    font-size: 70pt; 
    margin-top: 100px; 
    margin-left: 500px;
    position: absolute;
    font-weight:lighter;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="60"
    alt="Angular Logo"
    src="https://img.freepik.com/free-icon/rainy_318-774488.jpg"  />
  <div class="Dobro">WeatherWave: Смотрите погоду в своем городе!</div>
  
    <div class="spacer"></div>
    <div class="inputCity">
      <p>Выберите город:</p>
      <input type="text" value="Москва">
    </div>

</div>

<!-- <div>Это тестовый блок</div> -->
<div class="content" role="main">




  <div class="global_grid">
    <div class="left_container">
      <!-- ДЕНЬ -->
      <h2 class="dailySubTitle"> На сегодня </h2>
    
      <div class="card-container">

    <div id="currentWeather" class="currentWeather"></div>

    <div id="dailyWeather" class="dailyWeather"></div>

    <div id="weatherList" class="weatherList"></div>


      </div>
  </div>

  <div class="right_container">
    <!-- НЕДЕЛЯ -->
    <h2 style=" color: #00aeff; font-size: 24pt; line-height: 25pt;">На следующие 7 дней:  </h2>
  
    <input type="hidden" #selection>
  
  
    <button class="card card-small" (click)="selection.value = 'component'" tabindex="0">
        <span>Понедельник</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'material'" tabindex="0">
        <span>Вторник</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'pwa'" tabindex="0">
        <span>Среда</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'dependency'" tabindex="0">
        <span>Четверг</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'test'" tabindex="0">
        <span>Пятница</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
        <span>Суббота</span>
      </button>
  
      <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
        <span>Воскресенье</span>
      </button>
  </div>
  </div>





  <!-- Links -->
    <!-- Resources -->
    <h2>Наши источники:</h2>
    <p>API используемые в данном проекте:</p>
  
    <div style="display: flex;">
  
      <a class="card card-small" target="_blank" rel="noopener" href="https://open-meteo.com/"> 
        
        <img src="https://i.imgur.com/ls4yrI6.png" width="90" style="padding: 0pt; margin-top: 30pt;">
        <!-- <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg> -->
        <span>Open-Metio</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>
  
      <a class="card card-small" target="_blank" rel="noopener" href="https://yandex.ru/dev/weather/">
        <img src="https://cdn-irec.r-99.com/sites/default/files/product-images/1179053/M63xFPfsFb5w9Fmx2mj9dg.png" width="50" style="padding: 5pt;">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 8px" width="21.813" height="23.453" viewBox="0 0 179.2 192.7"><path fill="#ffa726" d="M89.4 0 0 32l13.5 118.4 75.9 42.3 76-42.3L179.2 32 89.4 0z"/><path fill="#fb8c00" d="M89.4 0v192.7l76-42.3L179.2 32 89.4 0z"/><path fill="#ffe0b2" d="m102.9 146.3-63.3-30.5 36.3-22.4 63.7 30.6-36.7 22.3z"/><path fill="#fff3e0" d="M102.9 122.8 39.6 92.2l36.3-22.3 63.7 30.6-36.7 22.3z"/><path fill="#fff" d="M102.9 99.3 39.6 68.7l36.3-22.4 63.7 30.6-36.7 22.4z"/></svg> -->
        <span>Яндекс.Погода</span>
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </a>


  
  
    </div>
  <div class="card-container">
    //Здесь будут ссылки на гитхаб-проект и мобилку

  </div>

  <!-- Footer -->
  <footer>
      Понравилось приложение?&nbsp;
      <a href="https://github.com/angular/angular" target="_blank" rel="noopener"> Можете помочь нам нематериально. </a>

  </footer>


</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

